@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 8px 34px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  cursor: pointer;
  border-width: 0;
  border-radius: 4px;
}

.button:disabled {
  background-color: #e5e5e5;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  color: #ffffff4c;
}

.button-blue {
  background-color: #82b3d3;
}

.button-blue:focus,
.button-blue:hover {
  background-color: #68a2ca;
}

.button-green {
  background-color: #7db54f;
}

.button-green:focus,
.button-green:hover {
  background-color: #6c9e42;
}

.button-transparent {
  background-color: transparent;
}

.button-transparent:hover {
  background-color: transparent;
  opacity: 60%;
}

.button-transparent:focus {
  background-color: transparent;
  outline: 3px solid #83b3d3;
}

.button-transparent:disabled {
  color: #ffffff19;
}

.button-subscription {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button-subscription {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.button-seach {
  display: block;
  padding: 8px 50px;
  width: 376px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.field {
  box-sizing: border-box;
  padding: 14px 20px;
  margin: 0;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  border-radius: 4px;
  border-width: 0;
}

.field:hover {
  background-color: #e6e6e6;
}

.field:focus {
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.field:active {
  outline: 2px solid #000000;
  background-color: #f2f2f2;
}

.field-subscription {
  font-weight: 400;
  width: 452px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.hotel-card .button {
  padding: 8px 20px;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 16px 0 #0000003f;
}

.navigation {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 1060px;
  align-items: center;
  margin: 0 auto;
}

.navigation-logo {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 140px;
  height: 70px;
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-logo-image {
  display: block;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 507px;
  margin: 0;
  padding: 0;
  margin-left: 168px;
  list-style: none;
}

.navigation-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.navigation-item:not(.navigation-user .navigation-item:nth-child(3)) {
  border-bottom: 2px solid transparent;
}

.navigation-item:not(.navigation-user .navigation-item:nth-child(3)):hover {
  box-sizing: border-box;
  border-bottom: 2px solid #756257;
}

.navigation-link {
  display: block;
  box-sizing: border-box;
  padding: 20px 16px 18px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.navigation-link:active {
  opacity: 30%;
}

.navigation-user {
  margin-left: auto;
  width: 268px;
}

.navigation-user .navigation-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 64px;
}

.navigation-user .navigation-item:nth-child(2) {
  position: relative;
}

.navigation-user .favorites {
  position: absolute;
  left: 50%;
  bottom: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
}

.navigation-user .navigation-item:nth-child(3) {
  justify-content: right;
  width: 180px;
}

.navigation-seach {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-favorites {
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-wrapper {
  flex-grow: 1;
}

.welcome {
  width: 1200px;
  height: 485px;
  background-color: #000000;
  background-image: url("../images/welcome-background.jpg");
  background-repeat: no-repeat;
}

.welcome-top {
  display: flex;
  justify-content: center;
  width: 1200px;
  height: 428px;
}

.welcome-bottom {
  width: 1200px;
  height: 57px;
  background-image: url("../images/welcome-bottom.svg");
  background-repeat: no-repeat;
}

.welcome-image {
  display: block;
  margin: auto;
  margin-top: 51px;
}

.about {
  box-sizing: border-box;
  padding: 69px 274px 90px;
  text-align: center;
}

.about-description {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.about-advantages {
  padding: 0;
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
}

.advantage-item {
  position: relative;
  box-sizing: border-box;
  width: 400px;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 103px;
  padding-bottom: 121px;
  text-align: center;
  color: #000000;
}

.advantage-item:not(.advantage-picture, .advantage-dark-blue)::before {
  position: absolute;
  top: 189px;
  left: 170px;
  width: 60px;
  height: 2px;
  content: "";
  border-bottom: 2px solid #0000004d
}

.advantage-title {
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantage-description {
  margin: 0;
  padding: 0;
}

.advantage-large {
  width: 800px;
  padding: 0;
}

.advantage-dark-blue {
   padding-top: 92px;
   padding-bottom: 111px;
   color: #ffffff;
   background-color: #82b3d3;
}

.advantage-dark-blue::before {
  position: absolute;
  top: 178px;
  left: 170px;
  width: 60px;
  height: 2px;
  content: "";
  border-bottom: 2px solid #ffffff4d;
}

.advantage-blue {
  background-color: #83b3d333;
}

.advantage-picture {
  padding-top: 182px;
  padding-bottom: 81px;
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 80px;
}

.advantage-item:nth-child(10) {
  background-image: url("../images/food.svg");
}

.advantage-item:nth-child(11) {
  background-image: url("../images/souvenir.svg");
}

.advantage-picture .advantage-title {
  margin-bottom: 30px;
}

.advantage-image {
  display: block;
}

.seach {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 304px;
  text-align: center;
  box-sizing: border-box;
}

.seach-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.seach-description {
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscription {
  box-sizing: border-box;
  padding: 96px 258px 104px;
  width: 1200px;
  text-align: center;
  color: #ffffff;
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #82b3d3;
}

.subscription-title {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-description {
  padding: 0;
  margin: 0;
  margin-bottom: 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscription-form {
  width: 684px;
  display: flex;
}

.page-footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto 30px;
  width: 1060px;
  min-height: 50px;
}

.footer-phone {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 335px;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  min-height: 50px;
}

.footer-phone:hover,
.footer-phone:focus {
  color: #756157;
}

.footer-phone:focus {
  color: #7561574d;
}

.social-list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 142px;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.social-list-item {
  display: flex;
  justify-content: center;
  text-align: center;
}

.social-list-button {
  position: relative;
  width: 47px;
  height: 40px;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83b3d3;
}

.social-icon:hover,
.social-icon:focus {
  fill: #68a2ca;
}

.social-icon:active {
  fill: #68a2Ca4c;
}

.html-academy-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.html-academy-link {
  display: block;
  position: relative;
  width: 115px;
  height: 33px;
}

.html-academy-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.html-academy-icon:hover,
.html-academy-icon:focus {
  fill: #756157;
}

.html-academy-icon:active {
  fill:#7561574d;
}

.filters {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 35px 70px 70px;
  color: #ffffff;
  background-image: url("../images/catalog-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #82b3d3;
}

.filters-header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filters-title {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  list-style: none;
}

.breadcrumbs-link {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.breadcrumbs-item:nth-child(1) .breadcrumbs-link {
  display: block;
  width: 13px;
  height: 15px;
  background-image: url("../images/home.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs-item:last-child .breadcrumbs-link{
  pointer-events: none;
}

.breadcrumbs-item:nth-child(2n) {
  display: block;
  width: 8px;
  height: 20px;
  background-image: url("../images/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  font-size: 18px;
  line-height: 23px;
}

.control-mark {
  position: absolute;
  left: 0;
  top: 1px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
}

.mark-radio {
  border-radius: 50%;
}

.control:hover {
  opacity: 60%;
}

.control:hover .control-mark {
  opacity: 60%;
}

.control-input[type="checkbox"]:focus + .control-mark {
  outline: 3px solid #83b3d3;
}

.control-input[type="radio"]:focus ~ .control-mark {
  outline: 3px solid #83b3d3;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 6px;
  left: 4px;
  width: 12px;
  height: 10px;
  content: "";
  background-image: url("../images/check-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
  background-color: #3f5e72;
}

.control-disabled {
  opacity: 10%;
}

.filters-form {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
}

.filter-group {
  box-sizing: border-box;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border: none;
}

.filter-group:nth-child(3) {
  margin-left: auto;
}

.filter-title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.filter-buttons-wrapper {
  display: block;
  box-sizing: border-box;
  width: 191px;
  margin: 0;
  padding: 0;
  padding-top: 56px;
}

.filter-buttons-wrapper .button-blue {
  margin-bottom: 32px;
  width: 191px;
}

.filter-buttons-wrapper .button-transparent {
  width: 191px;
}

.range-inputs-wrapper {
  position: relative;
  display: flex;
  width: 288px;
  justify-content: space-between;
  align-items: center;
}

.range-inputs-wrapper .field {
  padding: 12px 20px;
  width: 143px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.range-inputs-wrapper .field:nth-child(2) {
  width: 143px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.range-inputs-wrapper .field:nth-child(4) {
  width: 143px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.range-field-text {
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 20px;
  height: 24px;
  font-size: 18px;
  font-weight: 400px;
  line-height: 24px;
  color: #000000;
  opacity: 0.5;
}

.range-field-text:nth-of-type(1) {
  left: 106px;
}

.range-field-text:nth-of-type(2) {
  right: 20px;
}

.range {
  box-sizing: border-box;
  width: 288px;
  padding-top: 44px;
  padding-bottom: 8px;
}

.range-scale {
  position: relative;
  width: 288px;
  height: 4px;
  background-color: #ffffff3f;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  border-width: 0;
}

.range-toggle:active {

}

.range-toggle:focus {

}

.toggle-min {
  top: -8px;
}

.toggle-min:focus {
  top: -11px;
  left: -3px;
  outline: none;
  border: 3px solid #83b3d3;
  box-shadow: 0 0 8px -2px #000000;
}

.toggle-min:active {
  top: -10px;
  left: -2px;
  border: 2px solid #83b3d3;
  box-shadow: 0 3px 10px 0 #000000;
}

.toggle-max {
  top: -8px;
  right: -1px;
}

.toggle-max:focus {
  top: -11px;
  right: -4px;
  outline: none;
  border: 3px solid #83b3d3;
  box-shadow: 0 0 8px -2px #000000;
}

.toggle-max:active {
  top: -10px;
  right: -3px;
  border: 2px solid #83b3d3;
  box-shadow: 0 3px 10px 0 #000000;
}

.catalog-wrapper {
  width: 1060px;
  margin: 0 auto;
}

.catalog-controls {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.select-control {
  display: block;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 292px;
  padding: 12px 20px;
  padding-right: 52px;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: #ffffff;
  background-image: url("../images/arrow-select.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  outline: none;
  border-color: #68a2ca;
}

.select-control:active {
  border-color: #3f5e72;
}

.select-control:disabled {
  color: #000000;
  border-color: #000000;
  opacity: 30%;
}

.view-control-group {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  row-gap: 5px;
  column-gap: 8px;
  padding: 0;
  margin: 0;
  margin-left: 70px;
  width: 160px;
  list-style: none;
}

.view-control-toggle {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-control-toggle:hover {
  border-color: #000000;
}

.view-control-toggle:focus {
  outline: none;
  border-color: #68a2ca;
}

.view-control-toggle:active {
  border-color: #000000;
}

.view-control-item:nth-child(1) .view-control-toggle {
  background-image: url("../images/view1.svg");
}

.view-control-item:nth-child(2) .view-control-toggle {
  background-image: url("../images/view2.svg");
}

.view-control-item:nth-child(3) .view-control-toggle {
  background-image: url("../images/view3.svg");
}

.hotels-catalog-amount {
  box-sizing: border-box;
  padding: 0;
  padding-right: 50px;
  margin: 0;
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  flex-grow: 1;
}

.hotel-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  box-sizing: border-box;
  padding-bottom: 40px;
  margin-bottom: 40px;
  width: 1060px;
  border-bottom: 1px solid #e6e6e6;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  row-gap: 16px;
  padding: 19px 20px;
  width: 340px;
  border: 1px solid #e6e6e6;
}

.hotel-card-image {
  display: block;
  padding: 0;
  margin: 0;
  order: -1;
}

.hotel-card-title {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.hotel-card-type {
  margin: 0;
  padding: 0;
}

.hotel-card-cost {
  margin: 0;
  padding: 0;
}

.rating-wrapper {
  box-sizing: border-box;
  width: 140px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.one-star::before {
  position: absolute;
  left: 0;
  top: 10px;
  content: "";
  width: 36px;
  height: 17px;
  background-image: url("../images/star.svg");
  background-position-y: center;
  background-repeat:space;
}

.two-star::before {
  position: absolute;
  left: 0;
  top: 10px;
  content: "";
  width: 42px;
  height: 17px;
  background-image: url("../images/star.svg");
  background-position-y: center;
  background-repeat: space;
}

.three-star::before {
  position: absolute;
  left: 0;
  top: 10px;
  content: "";
  width: 66px;
  height: 17px;
  background-image: url("../images/star.svg");
  background-position-y: center;
  background-repeat: space;
}

.four-star::before {
  position: absolute;
  left: 0;
  top: 10px;
  content: "";
  width: 89px;
  height: 17px;
  background-image: url("../images/star.svg");
  background-position-y: center;
  background-repeat: space;
}

.five-star::before {
  position: absolute;
  left: 0;
  top: 10px;
  content: "";
  width: 107px;
  height: 17px;
  background-image: url("../images/star.svg");
  background-position-y: center;
  background-repeat: space;
}

.hotel-card-rating {
  box-sizing: border-box;
  padding: 9px 22px 8px 23px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.hotel-card-wrapper {
  display: flex;
  justify-content: space-between;
}

.hotel-card-wrapper .button {
  width: 140px;
  padding: 8px 18px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  width: 1060px;
  list-style: none;
}

.pagination-item:not(:last-child) {
  display: flex;
  justify-items: center;
  text-align: center;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  margin: 0;
  margin-right: 8px;
  line-height: 26px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin: 0;
  min-width: 60px;
  height: 60px;
  padding: 12px 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-link:not(.pagination-current, .pagination-disabled):hover,
.pagination-link:not(.pagination-current, .pagination-disabled):focus {
  background-color: #68a2ca;
}

.pagination-link:not(.pagination-current, .pagination-disabled):active {
  color: #ffffff4c;
  background-color: #82b3d3;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
  user-select: none;
}

.pagination-disabled {
  color: #000000;
  background-color: transparent;
  user-select: none;
}

.subscription-catalog {
  color: #000000;
  background-image: none;
  background-color: #ffffff;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2cc;
}

.modal-container-closed {
  display: none;
}

.modal {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  padding: 64px 70px;
  width: 717px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px #00000026;
}

.modal-form {
  display: grid;
  grid-template-columns: 119px 111px 1fr 111px;
  row-gap: 48px;
  column-gap: 18px;
}

.modal-form .field {
  width: 440px;
}

.modal-title {
  grid-column: 1 / -1;
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-label {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.modal-form .modal-label:nth-child(1),
.modal-form .modal-label:nth-child(2),
.modal-form .modal-label:nth-child(3) {
  grid-column: 1 / 2;
}

.modal-label > .modal-label{
  margin-left: 70px;
}

.modal-label:nth-child(4) {
  grid-column: 3 / 4;
}

.modal-form-date {
  display: block;
  padding: 12px 38px 12px 20px;
  background-image: url("../images/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 22px center;
}

.modal-date-wrapper {
  position: relative;
  grid-column: 2 / 5;
}

.modal-assist-field {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 52px;
  margin: 0;
  padding: 0 20px;
  width: fit-content;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.assist-error {
  color: #ff5757;
}

.modal-wrapper {
  display: flex;
  width: 111px;
}

.modal-wrapper:nth-child(1) {
  grid-column: 2 / 3;
}

.modal-wrapper:nth-child(2) {
  grid-column: 4 / 5;
}

.modal-wrapper .field {
  box-sizing: border-box;
  padding: 12px 10px;
  width: 31px;
  border-radius: 0;
}

.modal-wrapper .button-math {
  position: relative;
  padding: 0;
  margin: 0;
  width: 40px;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-wrapper .button-math:focus {
  outline: none;
}

.modal-wrapper .button-math:nth-of-type(1) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.modal-wrapper .button-math:nth-of-type(1)::before {
  position: absolute;
  left: 7px;
  top: 13px;
  display: block;
  box-sizing: border-box;
  content: "";
  width: 26px;
  height: 26px;
  background-image: url("../images/minus.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid transparent;
  border-radius: 8px;
  opacity: 30%;
}

.modal-wrapper .button-math:nth-of-type(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.modal-wrapper .button-math:nth-of-type(2)::before {
  position: absolute;
  left: 7px;
  top: 13px;
  display: block;
  box-sizing: border-box;
  content: "";
  width: 26px;
  height: 26px;
  background-image: url("../images/plus.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid transparent;
  border-radius: 8px;
  opacity: 30%;
}

.modal-wrapper .button-math:nth-of-type(1):hover::before,
.modal-wrapper .button-math:nth-of-type(2):hover::before {
  opacity: 100%;
}

.modal-wrapper .button-math:nth-of-type(1):focus::before,
.modal-wrapper .button-math:nth-of-type(2):focus::before {
  outline: none;
  border: 3px solid #68a2ca;
  opacity: 100%;
}

.modal-wrapper .button-math:nth-of-type(1):active::before,
.modal-wrapper .button-math:nth-of-type(2):active::before {
  opacity: 30%;
  border: 3px solid transparent;
}

.persions-field::-webkit-inner-spin-button,
.persions-field::-webkit-outer-spin-button {
  display: none;
}

.persions-field {
  -moz-appearance: textfield;
}

.modal-submit {
  grid-column: 1 / -1;
  padding: 18px 256px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 10px;
}

.modal-close {
  position: absolute;
  top: 64px;
  right: 52px;
  margin: 0;
  padding: 0;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.modal-close::before {
  position: absolute;
  margin: auto;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  background-image: url("../images/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-close:hover {
  background-color: #e6e6e6;
}

.modal-close:focus {
  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
  outline: none;
}

.modal-close:active {
  border: none;
}

.modal-close:active::before {
  opacity: 30%;
}

.tooltip {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.tooltip-toggle {
  padding: 0;
  margin: 0;
  width: 26px;
  height: 26px;
  background-color: #83b3d3;
  background-image: url("../images/tooltip.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border-width: 0;
}

.tooltip-text {
  position: absolute;
  top: 43px;
  display: none;
  box-sizing: border-box;
  padding: 15px 18px 18px 22px;
  width: 256px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  background-color: #333333;
  border-radius: 10px;
}

.tooltip-text:before {
  position: absolute;
  left:0;
  right:0;
  content:'';
  width: 19px;
  height: 9px;
  bottom: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/tooltip-arrow.svg");
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}
